<a href="https://colab.research.google.com/github/juturpraveen/Data-Analytics/blob/master/TwitterDataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import tweepy
import json
import io

In [63]:
from google.colab import files
tweet_archive = files.upload()

Saving twitter_archive_master.csv to twitter_archive_master (1).csv

In [64]:
twitter_archive = pd.read_csv(io.BytesIO(tweet_archive['twitter_archive_master.csv']))

In [90]:
from google.colab import files
tweet_archive_enh = files.upload()

Saving twitter-archive-enhanced.csv to twitter-archive-enhanced (1).csv

In [123]:
twitter_archive_enh = pd.read_csv(io.BytesIO(tweet_archive_enh['twitter-archive-enhanced.csv']))

In [125]:
twitter_archive_enh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [144]:
twitter_archive_enh.head(1)

             tweet_id  in_reply_to_status_id  ...  pupper puppo
0  892420643555336193                    NaN  ...    None  None

[1 rows x 17 columns]

In [67]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)
open('image_predictions.tsv','wb').write(r.content)

335079

In [179]:
image_predictions = pd.read_csv('image_predictions.tsv',sep="\t")
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [8]:
#Twitter access token
access_token="310713636-xlFP68tfmKDskjtMSWBkz2BKUP6ibryM8o37fBIU"

#Twitter access token secret:
access_token_secret="NL9lPvZ8EBVUMLltS73Dsbuh9ZsjzFgstFvBzavWkBn1E"

#Twitter API key:
consumer_api_key="hDRpYr0TU9c8u6v4VGKc9riwc"

#Twitter API secret key:
consumer_api_secret="BW1CfysiD45coBbVlixF2KfQz5lbEncXtNsUaijmKH6KWoE3GU"

In [9]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret)
auth.set_access_token(access_token,access_token_secret)
tweet_ids = twitter_archive.tweet_id.values
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)
foundTweets, notFoundTweets,i = [],[],0
with open('tweet_json.txt', 'w') as output:
    for tweet_id in tweet_ids:
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            # foundTweets.append(tweet_id)
            json.dump(tweet._json, output)
            output.write('\n')
        except tweepy.TweepError:
          # notFoundTweets.append(tweet_id)
            print('Error: tweet missing')
        # i += 1
        # if i > 10:
        #   break

Error: tweet missing
Error: tweet missing

Rate limit reached. Sleeping for: 767

Error: tweet missing
Error: tweet missing
Error: tweet missing
Error: tweet missing
Error: tweet missing

In [10]:
#Download the file 
# files.download('tweet_json.txt')

In [33]:
#Upload the file
tweet_json = files.upload()
# tweet_json = pd.read_csv(io.BytesIO(tweet_archive['twitter_archive_master.csv']))

Saving tweet_json.txt to tweet_json (1).txt

In [118]:
#Read the above JSON file and collect tweet_id, retweet_count and favorite_count into a dataframe
tweets_list=[]
i = 0
with open('tweet_json.txt', 'r') as json_data:
  for line in json_data: 
    tweet = json.loads(line)
    tweet_info = {}
    if tweet['extended_entities']["media"][0]["id"]:   
      tweet_info['tweet_id'] = tweet['extended_entities']["media"][0]["id"]
    if tweet['retweet_count']:
      tweet_info['retweet_count'] = tweet['retweet_count']
    if tweet['favorite_count']:
      tweet_info['favorite_count'] = tweet['favorite_count']
    tweets_list.append(tweet_info)

In [119]:
len(tweets_list)

764

In [120]:
tweets_df = pd.DataFrame(tweets_list)

In [121]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        764 non-null    int64
 1   retweet_count   764 non-null    int64
 2   favorite_count  764 non-null    int64
dtypes: int64(3)
memory usage: 18.0 KB

In [126]:
twitter_archive_enh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [127]:
print("Out of total %d tweets, %d tweets have null tweet id" % (twitter_archive_enh.shape[0], twitter_archive_enh.tweet_id.isna().count()))
twitter_archive.tweet_id.isna().count()

Out of total 2356 tweets, 2356 tweets have null tweet id

1625

In [128]:
twitter_archive_enh.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [129]:
twitter_archive_enh.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [132]:
#Delete the entries where the denominator is not 10
twitter_archive_enh = twitter_archive_enh[twitter_archive_enh.rating_denominator == 10]
twitter_archive_enh.shape

(2333, 17)

In [133]:
twitter_archive_enh.rating_numerator.value_counts()

12      558
11      463
10      461
13      351
9       156
8       102
14       54
7        54
5        37
6        32
3        19
4        15
2         9
1         8
75        2
0         2
420       2
15        2
26        1
182       1
27        1
1776      1
17        1
666       1
Name: rating_numerator, dtype: int64

In [134]:
#Delete tweets where numerator is less than 10
twitter_archive_enh = twitter_archive_enh[twitter_archive_enh.rating_numerator >= 10]
twitter_archive_enh.shape

(1899, 17)

In [135]:
print('Doggo counts:', twitter_archive_enh.doggo.value_counts())
print()
print('Floofer counts:',twitter_archive_enh.floofer.value_counts())
print()
print('Puppo counts:', twitter_archive_enh.puppo.value_counts())

Doggo counts: None     1807
doggo      92
Name: doggo, dtype: int64

Floofer counts: None       1889
floofer      10
Name: floofer, dtype: int64

Puppo counts: None     1870
puppo      29
Name: puppo, dtype: int64

In [137]:
twitter_archive_enh.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1784
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          84
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       21
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      10
Name: source, dtype: int64

In [138]:
twitter_archive_enh.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [141]:
#Rename the columns to meaningfull names
twitter_archive_enh.rename(columns={'timestamp':'tweet_timestamp', 'text':'tweet','rating_numerator':'dog_rating_out_of_10','name':'dog_name'}, inplace=True)
twitter_archive_enh.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id',
       'tweet_timestamp', 'source', 'tweet', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_status_timestamp',
       'expanded_urls', 'dog_rating_out_of_10', 'rating_denominator',
       'dog_name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

### So far Tweet information is processed, now lets move on to the image information

In [180]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [181]:
image_predictions.head(4)

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True

[4 rows x 12 columns]

In [182]:
#Look for any null values
image_predictions.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [183]:
image_predictions.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [188]:
#Check for any duplicate dogs photos by URL
image_predictions.drop_duplicates('jpg_url', inplace=True)

In [189]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2009 non-null   int64
 1   jpg_url   2009 non-null   object
 2   img_num   2009 non-null   int64
 3   p1        2009 non-null   object
 4   p1_conf   2009 non-null   float64
 5   p1_dog    2009 non-null   bool
 6   p2        2009 non-null   object
 7   p2_conf   2009 non-null   float64
 8   p2_dog    2009 non-null   bool
 9   p3        2009 non-null   object
 10  p3_conf   2009 non-null   float64
 11  p3_dog    2009 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 162.8+ KB

In [190]:
#Entries where P1 prediction are dropped
image_predictions.drop(image_predictions[image_predictions.p1_dog == False].index, inplace=True)
image_predictions.shape

(1480, 12)

In [191]:
image_predictions.rename(columns={'p1':'dog_breed_prediction', 'p1_conf':'prediction_confidence'}, inplace=True)
image_predictions.head()

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True
4  666049248165822465  ...   True

[5 rows x 12 columns]